-- TRIGGERS PARA UPDATE (EDICIÓN DE EMPLEADOS)

-- CORREO + MONEDA (UPDATE)
DELIMITER }
CREATE TRIGGER trg_limit_correo_update BEFORE UPDATE ON gestor_empleado_tbl
FOR EACH ROW
BEGIN
  DECLARE v_count INT;
  IF NEW.correo_empleado_gestor IS NOT NULL THEN
    SELECT COUNT(*) INTO v_count
    FROM gestor_empleado_tbl
    WHERE correo_empleado_gestor = NEW.correo_empleado_gestor
      AND moneda_pago_empleado_gestor = NEW.moneda_pago_empleado_gestor
      AND id_empleado_gestor != NEW.id_empleado_gestor;

    IF v_count >= 2 THEN
      SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'Ya existen 2 empleados con este correo y moneda de pago';
    END IF;
  END IF;
END}
DELIMITER ;

-- CÉDULA + MONEDA (UPDATE)
DELIMITER }
CREATE TRIGGER trg_limit_cedula_update BEFORE UPDATE ON gestor_empleado_tbl
FOR EACH ROW
BEGIN
  DECLARE v_count INT;
  IF NEW.cedula_empleado_gestor IS NOT NULL THEN
    SELECT COUNT(*) INTO v_count
    FROM gestor_empleado_tbl
    WHERE cedula_empleado_gestor = NEW.cedula_empleado_gestor
      AND moneda_pago_empleado_gestor = NEW.moneda_pago_empleado_gestor
      AND id_empleado_gestor != NEW.id_empleado_gestor;

    IF v_count >= 2 THEN
      SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'Ya existen 2 empleados con esta cédula y moneda de pago';
    END IF;
  END IF;
END}
DELIMITER ;

-- ASEGURADO + MONEDA (UPDATE)
DELIMITER }
CREATE TRIGGER trg_limit_num_asegurado_update BEFORE UPDATE ON gestor_empleado_tbl
FOR EACH ROW
BEGIN
  DECLARE v_count INT;
  IF NEW.numero_asegurado_empleado_gestor IS NOT NULL THEN
    SELECT COUNT(*) INTO v_count
    FROM gestor_empleado_tbl
    WHERE numero_asegurado_empleado_gestor = NEW.numero_asegurado_empleado_gestor
      AND moneda_pago_empleado_gestor = NEW.moneda_pago_empleado_gestor
      AND id_empleado_gestor != NEW.id_empleado_gestor;

    IF v_count >= 2 THEN
      SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'Ya existen 2 empleados con este número de asegurado y moneda';
    END IF;
  END IF;
END}
DELIMITER ;

-- INS + MONEDA (UPDATE)
DELIMITER }
CREATE TRIGGER trg_limit_num_ins_update BEFORE UPDATE ON gestor_empleado_tbl
FOR EACH ROW
BEGIN
  DECLARE v_count INT;
  IF NEW.numero_ins_empleado_gestor IS NOT NULL THEN
    SELECT COUNT(*) INTO v_count
    FROM gestor_empleado_tbl
    WHERE numero_ins_empleado_gestor = NEW.numero_ins_empleado_gestor
      AND moneda_pago_empleado_gestor = NEW.moneda_pago_empleado_gestor
      AND id_empleado_gestor != NEW.id_empleado_gestor;

    IF v_count >= 2 THEN
      SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'Ya existen 2 empleados con este número del INS y moneda';
    END IF;
  END IF;
END}
DELIMITER ;

-- HACIENDA + MONEDA (UPDATE)
DELIMITER }
CREATE TRIGGER trg_limit_num_hacienda_update BEFORE UPDATE ON gestor_empleado_tbl
FOR EACH ROW
BEGIN
  DECLARE v_count INT;
  IF NEW.numero_hacienda_empleado_gestor IS NOT NULL THEN
    SELECT COUNT(*) INTO v_count
    FROM gestor_empleado_tbl
    WHERE numero_hacienda_empleado_gestor = NEW.numero_hacienda_empleado_gestor
      AND moneda_pago_empleado_gestor = NEW.moneda_pago_empleado_gestor
      AND id_empleado_gestor != NEW.id_empleado_gestor;

    IF v_count >= 2 THEN
      SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'Ya existen 2 empleados con este número de Hacienda y moneda';
    END IF;
  END IF;
END}
DELIMITER ;

-- NÚMERO SOCIO + MONEDA (UPDATE)
DELIMITER }
CREATE TRIGGER trg_limit_num_socio_update BEFORE UPDATE ON gestor_empleado_tbl
FOR EACH ROW
BEGIN
  DECLARE v_count INT;
  IF NEW.numero_socio_empleado_gestor IS NOT NULL THEN
    SELECT COUNT(*) INTO v_count
    FROM gestor_empleado_tbl
    WHERE numero_socio_empleado_gestor = NEW.numero_socio_empleado_gestor
      AND moneda_pago_empleado_gestor = NEW.moneda_pago_empleado_gestor
      AND id_empleado_gestor != NEW.id_empleado_gestor;

    IF v_count >= 2 THEN
      SIGNAL SQLSTATE '45000'
      SET MESSAGE_TEXT = 'Ya existen 2 empleados con este número de socio y moneda';
    END IF;
  END IF;
END}
DELIMITER ;
