.dt-search{
    margin-bottom: 20px;
}

.user-detail-dialog-text{
    font-family: "Montserrat-Regular" !important;
    font-size: 15px !important;
}

.user-detail-dialog-textB{
    font-family: "Montserrat-Bold" !important;
    font-size: 15px !important;
}

.user-detail-dialog-title{
    font-family: "Montserrat-Bold" !important;
    font-size: 18px !important;
}

.user-detail-dialog-buttonPrimary{
    background-color: #20638D !important;
    color: #ffffff !important;
    width: 250px !important;
    height: 40px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}

.user-detail-dialog-buttonDisabled{
    background-color: #DEE0E2 !important;
    color: #ffffff !important;
    width: 250px !important;
    height: 40px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}

.condensed-buttonPrimary{
    background-color: #20638D !important;
    color: #ffffff !important;
    width: 190px !important;
    height: 40px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}
.condensed-buttonDisabled{
    background-color: #DEE0E2 !important;
    color: #ffffff !important;
    width: 150px !important;
    height: 40px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}

.condensed-buttonCancel{
    background-color: #E26C6C !important;
    color: #ffffff !important;
    width: 190px !important;
    height: 40px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}

.input-passwordChange{
    width: 100% !important;
    height: 40px !important;
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
    border-radius: 10px !important;
    border: 2px solid #20638D !important;
    background-color: #ffff !important;
    margin: 2% 0% 5% 0% !important;
    padding: 0% 3% !important;
}

.user-detail-dialog-buttonSecondary{
    background-color: #ffff !important;
    border: 2px solid #20638D !important;
    color: #20638D !important;
    border-radius: 10px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;
    text-transform: none !important;
    width: 100% !important;
    height: 40px !important;
}

.user-detail-dialog-buttonSecondary:hover{
    background-color: #AFD2E8 !important;
}

.user-detail-dialog-buttonPrimary:hover{
    background-color: #AFD2E8 !important;
}
.user-detail-dialog-textField{
    font-family: "Montserrat-Regular" !important;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiFormLabel-filled.Mui-required.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
}
.MuiInputBase-input.MuiOutlinedInput-input.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
    width: 100% !important;
    height: 15% !important;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiFormLabel-filled.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiSelect-root.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
    width: 100% !important;
    height: 90% !important;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiFormLabel-filled.Mui-required.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
}
.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
}
.Mui-checked{
    color: #20638D !important;
}
.MuiInputBase-input.MuiOutlinedInput-input{
    font-family: "Montserrat-Regular" !important;
    color: #081926 !important;
}

.swal2-popup{
    background-color: #ffffff !important;
}
.swal2-container.swal2-center.swal2-backdrop-show{
    background-color: rgb(0 0 0 / 52%) !important;
}

.file-upload-button{
    background-color: #ffff !important;
    border: 2px solid #20638D !important;
    color: #20638D !important;
    width: 95% !important;
    height: 50px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}
.file-upload-button-full{
    background-color: #ffff !important;
    border: 2px solid #20638D !important;
    color: #20638D !important;
    width: 100% !important;
    height: 80px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}

.file-upload-button:hover{
    background-color: #AFD2E8 !important;
}

.file-upload-button-full:hover{
    background-color: #AFD2E8 !important;
}









/* este css es para coultar las opciones en el filtro de la tabla */
.dtsp-nameButton{
    display: none !important;
}
.dtsp-countButton{
    display: none !important;
}



.detail-dialog-buttonSecondaryCondensed{
    background-color: #ffff !important;
    border: 2px solid #20638D !important;
    color: #20638D !important;
    border-radius: 10px !important;
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;
    text-transform: none !important;
    width: 20% !important;
    height: 40px !important;
}
.detail-dialog-buttonSecondaryCondensed:hover{
    background-color: #AFD2E8 !important;
}

.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label{
    font-family: "Montserrat-Bold" !important;
    font-size: 14px !important;

}